.row-message-list {
  width: 600px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #ddd;
  @include flex-center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  &__svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    svg {
      fill: rgb(116, 116, 116);
      width: 15px;
      height: 15px;
      transition: transform ease-in-out .3s, fill ease-in-out .3s;
      cursor: pointer;
      @media (hover:hover) and (pointer:fine){
        &:hover {
          fill: #000;
          transform: scale(1.1);
        }
      }
    }
  }
  &-title,
  &-content,
  &-author {
    width: 100%;
    padding: 10px;
  }
  &-title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  &-content {
    font-size: 1.1rem;
  }
  &-author {
    color: #888;
    font-weight: bold;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 650px) {
    width: 300px;
  }
  @media screen and (max-width: 350px) {
    width: 80%;
  }
}
